<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sjtu.dclab.smartcity"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="17"/>

    <!-- 访问网络的权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Light.NoTitleBar"
                 android:name=".GlobalApp">
        <activity android:name=".ui.MainAty"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.HomeAty"/>
        <activity android:name=".ui.LoginAty"/>
        <activity android:name=".ui.ann_committee.AnnouncementAty"/>
        <activity android:name=".ui.party.orglife.OrgLifeAty"/>
        <activity android:name=".ui.LoginIdentityCommitteeAty" />
        <activity android:name=".ui.ann_committee.AnnDetailAty" />
        <activity android:name=".ui.ann_committee.AnnPublishAty" />
        <activity android:name=".ui.party.orglife.OrgLifeDetailAty" />
        <activity android:name=".chat.ChatActivity"/>

        <!-- Mqtt Service -->
        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service android:name=".chat.HeartbeatService" />

    </application>

</manifest>
